In [86]:
#Group Project Final

In [87]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [88]:
START = 2002
END = 2022

In [89]:
batting = batting_stats(START, END, qual=200)
batting.to_csv("batting.csv")

In [90]:
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [91]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN
8,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,0.262,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN
15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,0.131,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN
2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6885,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN
7042,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,0.096,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN
6673,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN
6988,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN
978,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN

In [92]:
def next_season(player):
    player = player.sort_values("Season")
    player["Next_HR"] = player["HR"].shift(-1)
    return player

batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [93]:
null_count = batting.isnull().sum()

In [94]:
complete_cols = list(batting.columns[null_count == 0])
batting = batting[complete_cols + ["Next_HR"]].copy()

In [164]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Hard%+,Events,CStr%,CSW%,Next_HR,team_code,player_season,hr_corr,hr_diff,hr_season
5562,1,2006,Alfredo Amezaga,FLA,0.346154,0.735043,0.312950,0.307958,0.245690,0.278302,...,0.210884,0.000000,0.582979,0.524229,2.0,0.352941,0,0.000000,1.000000,0.191995
5006,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,0.323276,0.316038,...,0.292517,0.000000,0.527660,0.396476,3.0,0.352941,1,-1.000000,0.666667,0.135520
1169,2,2002,Garret Anderson,ANA,0.423077,0.957265,0.859712,0.826990,0.711207,0.443396,...,0.659864,0.000000,0.365957,0.418502,29.0,0.029412,0,0.000000,1.000000,1.967511
864,2,2003,Garret Anderson,ANA,0.461538,0.965812,0.859712,0.818339,0.737069,0.500000,...,0.523810,0.000000,0.480851,0.506608,14.0,0.029412,1,0.000000,1.000000,1.932897
2569,2,2004,Garret Anderson,ANA,0.500000,0.564103,0.507194,0.475779,0.443966,0.400943,...,0.448980,0.000000,0.531915,0.585903,17.0,0.029412,2,-0.866025,0.482759,0.890263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,23667,2021,Wander Franco,TBR,0.038462,0.205128,0.217626,0.186851,0.219828,0.179245,...,0.394558,0.409015,0.391489,0.352423,6.0,0.911765,0,0.000000,1.000000,0.414504
5875,24618,2021,Ryan Jeffers,MIN,0.192308,0.333333,0.192446,0.160900,0.099138,0.070755,...,0.619048,0.265442,0.514894,0.788546,7.0,0.558824,0,0.000000,1.000000,0.829009
7032,24655,2021,Owen Miller,CLE,0.192308,0.119658,0.055755,0.003460,0.038793,0.066038,...,0.394558,0.230384,0.548936,0.700441,6.0,0.264706,0,0.000000,1.000000,0.236860
4881,26197,2021,Andrew Vaughn,CHW,0.153846,0.692308,0.462230,0.465398,0.293103,0.226415,...,0.530612,0.535893,0.570213,0.651982,17.0,0.205882,0,0.000000,1.000000,0.888224
6620,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,0.103448,0.089623,...,0.380952,0.335559,0.702128,0.731278,11.0,0.764706,0,0.000000,1.000000,0.473719

In [96]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [97]:
del batting["Age Rng"]
del batting["Dol"]

In [98]:
batting["team_code"] = batting["Team"].astype("category").cat.codes

In [99]:
batting_full = batting.copy()
batting = batting.dropna().copy()

In [100]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = Ridge(alpha=1)

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, 
                                n_features_to_select=20, 
                                direction="forward",
                                cv=split,
                                n_jobs=8
                               )

In [139]:
removed_columns = ["HR","Next_HR","Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [140]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
batting.loc[:,selected_columns] = scaler.fit_transform(batting[selected_columns])

In [141]:
sfs.fit(batting[selected_columns], batting["Next_HR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=8)

In [142]:
predictors = list(selected_columns[sfs.get_support()])

In [143]:
predictors

['Age',
 'G',
 'GB',
 'FB',
 'IFFB',
 'BB%',
 'Pos',
 'RAR',
 'CHv',
 'wCB',
 'Swing%',
 'wSB',
 'wGDP',
 'Med%',
 'Hard%+',
 'Events',
 'CSW%',
 'hr_corr',
 'hr_diff',
 'hr_season']

In [144]:
def backtest(data, model, predictors, start=5, step=1):
    all_predictions = []
    
    years = sorted(data["Season"].unique())
    
    for i in range(start, len(years), step):
        current_year = years[i]
        train = data[data["Season"] < current_year]
        test = data[data["Season"] == current_year]
        
        model.fit(train[predictors], train["Next_HR"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["Next_HR"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [145]:
predictions = backtest(batting, rr, predictors)

In [167]:
predictions

      actual  prediction
5006     3.0    3.642195
1925    15.0   15.552915
3102     2.0    3.600969
5797     4.0    7.152680
1109    27.0   20.065098
...      ...         ...
1914     6.0   14.137253
5875     7.0   16.328788
7032     6.0   11.317915
4881    17.0   18.462561
6620    11.0    8.816269

[4127 rows x 2 columns]

In [147]:
predictions.shape

(4127, 2)

In [168]:
batting["Next_HR"].describe()

count    5575.000000
mean       14.400897
std        10.073029
min         0.000000
25%         7.000000
50%        12.000000
75%        20.000000
max        62.000000
Name: Next_HR, dtype: float64

In [148]:
from sklearn.metrics import mean_squared_error

mean_squared_error(predictions["actual"], predictions["prediction"])

55.13242212780758

In [149]:
def player_history(df):
    df = df.sort_values("Season")
        
    df["player_season"] = range(0, df.shape[0])
    df["hr_corr"] = list(df[["player_season", "HR"]].expanding().corr().loc[(slice(None), "player_season"),"HR"])
    df["hr_corr"].fillna(0, inplace=True)
    
    df["hr_diff"] = df["HR"] / df["HR"].shift(1)
    df["hr_diff"].fillna(1, inplace=True)
    df["hr_diff"][df["hr_diff"] == np.inf] = 1
    
    return df

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [150]:
def group_averages(df):
    return df["HR"] / df["HR"].mean()

In [151]:
batting["hr_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)

In [152]:
new_predictors = predictors + ["player_season", "hr_corr", "hr_season", "hr_diff"]

In [153]:
predictions = backtest(batting, rr, new_predictors)

In [154]:
mean_squared_error(predictions["actual"], predictions["prediction"])

55.189150220064505

In [155]:
pd.Series(rr.coef_, index=new_predictors).sort_values()

Age             -11.098114
G                -9.223845
CHv              -4.837959
RAR              -3.267676
Pos              -2.816622
wGDP             -2.529842
wCB              -0.942595
hr_corr          -0.489285
hr_corr          -0.489285
hr_diff          -0.341277
hr_diff          -0.341277
player_season     0.107526
wSB               3.003681
hr_season         3.537298
hr_season         3.537298
IFFB              3.759884
CSW%              3.801035
GB                4.243581
Med%              4.612693
Events            5.607025
Swing%            5.772277
FB                8.399037
BB%              14.634580
Hard%+           17.671445
dtype: float64

In [171]:
diff = predictions["actual"] - predictions["prediction"]

In [172]:
merged = predictions.merge(batting, left_index=True, right_index=True)

In [173]:
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()

In [177]:
merged[["IDfg", "Season", "Name", "HR", "Next_HR","prediction", "diff"]].sort_values(["diff"])

       IDfg  Season               Name  HR  Next_HR  prediction       diff
4292   3790    2009         Jayson Nix  12     14.0   13.998627   0.001373
5045    157    2009        Melvin Mora   8      7.0    6.998262   0.001738
5521     10    2009     David Eckstein   2      1.0    0.996646   0.003354
6596   4400    2014     Chris Denorfia   3      3.0    2.994689   0.005311
5171  12434    2017       Kevin Pillar  16     15.0   15.011800   0.011800
...     ...     ...                ...  ..      ...         ...        ...
1584  14221    2018        Jorge Soler   9     48.0   17.364781  30.635219
5386  12533    2020      Marcus Semien   7     45.0   13.176496  31.823504
2156   4949    2016  Giancarlo Stanton  27     59.0   26.248720  32.751280
451   15640    2021        Aaron Judge  39     62.0   29.228941  32.771059
2596   1887    2009      Jose Bautista  13     54.0   17.037484  36.962516

[4127 rows x 7 columns]